@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

:root {
    --font-family: 'Manrope', sans-serif;
    --text-color: hsl(193, 38%, 86%);
    --advice-dice-color: hsl(150, 100%, 66%);
    --advice-card-color: hsl(217, 19%, 24%);
    --background-color: hsl(218, 23%, 16%);
}